.loading-circle{
  margin : 0;
  width :500px;
  height : 500px;
  border : 30px solid #D9AA8A;
  border-top : 30px solid #f3efdf;
  border-radius: 50%;
}


.loading-circle {
  animation: loading-circle-spin infinite 20s linear;
}


@keyframes loading-circle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  position : absolute;
  left:50%;
  top : 50%;
  transform:translate(-50%, -50%);
  width :400px;
  height : 400px;
}

.center-logo{
  
  position : absolute;
  margin : 0;
  width :400px;
  height : 400px;
  border-radius: 50%;
  background-color:#D9AA8A ;
  backface-visibility: hidden;
  transition: 1s;
  transform: rotateY(0deg);
}

.container:hover .center-logo{
  transform: rotateY(180deg);
}

.center-login{
  position : absolute;
  margin : 0;
  width :400px;
  height : 400px;
  border-radius: 50%;
  background-color:#D9AA8A ;
  backface-visibility: hidden;
  transition: 1s;
  transform: rotateY(-180deg);
}

.container:hover .center-login{
  transform: rotateY(0deg);
}