name: PrettierLintTest

on:
  pull_request_target:
    branches:
      - master

jobs:
  check-lint:
    name: Prettier Lint Validation
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name }}

      - name: Cache actions
        uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn install

      - name: Validate lint
        run: yarn lint-check

      - name: Lint validation success
        if: success()
        uses: actions/github-script@0.2.0
        with:
          github-token: ${{ github.token }}
          script: |
            const pull_number = "${{github.event.number}}"
            await github.pulls.createReview({
              ...context.repo,
              pull_number,
              body: "예쁜 코드네요!",
              event: "APPROVE"
            })

      - name: Lint validation failure
        if: failure()
        uses: actions/github-script@0.2.0
        with:
          github-token: ${{ github.token }}
          script: |
            const pull_number = "${{github.event.number}}"
            await github.pulls.createReview({
              ...context.repo,
              pull_number,
              body: "Lint 실패.. 적용 후 다시 push 해주세요.",
             event: "REQUEST_CHANGES"
            })
